<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            content="Tools of Worship email verification."
        />
        <meta name="author" content="Tools of Worship" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
            rel="stylesheet"
        />

        <title>Tools of Worship</title>
    </head>
    <body style="background-color: #28363d; padding-top: 0px; margin-top: 0px">
        <div style="background-color: #2f575d; overflow: auto">
            <h2
                style="
                    color: #99aead;
                    font-family: &quot;Roboto&quot;, sans-serif;
                    padding-left: 8pt;
                "
            >
                Tools of Worship
            </h2>
        </div>
        <div>
            <p
                style="
                    color: #99aead;
                    font-family: &quot;Roboto&quot;, sans-serif;
                "
            >
                Open the link to Tools of Worship to verify your email. If you
                did not sign up at Tools of Worship please ignore this email.
            </p>
            <div>
                <a
                    href="https://ToolsOfWorship.com/verifyemail?token=@token"
                    ;
                    style="color: 607D93"
                    >Verify email address</a
                >
            </div>
        </div>
    </body>
</html>
